/* Start here */

body {
    width: 2000px;
    height: 3000px;
}
.fixedborder {
border: 2px black solid;
width: 1200px;
height: 580px;
position: fixed;
margin:30px 30px 30px 30px;
}

.fixed {
    position:fixed;
    width: 1000px;
    height: auto;
    left: 150px;
}
.content {
    position: fixed;
    width: 1000px;
    height: auto;
    left: 125px;
    top: 250px;
}
.beingdone {
    border: 5px pink dotted;
    width: 100px;
    height: 200px;
    padding-top: 200px;
    position: absolute;
    left: 300px;
}
.finish {
    border: 10px turquoise dashed;
    width: 500px;
    height: 100px;
    margin-top: 150px;
    padding-top: 100px;
    position: absolute;
    left: 200px;
}
.other {
    border: 20px yellow dotted;
    width: 500px;
    height: 500px;
    margin-top: 200px;
    padding-top: 400px;
    position: absolute;
    left: 600px;
}
.done {
    border: 5px red dashed;
    width: 1400px;
    height: 50px;
    margin-top: 700px;
    padding-top: 0px;
    position: absolute;
    left: 70px;
}
.to {
    border: 5px skyblue dashed;
    width: 300px;
    height: 150px;
    padding-top: 150px;
    position: absolute;
    left: 1200px;
    top: 20px;
}
.but {
    border: 2px purple dotted;
    width: 30px;
    height: 250px;
    padding-top: 250px;
    padding-left: 10px;
    position: absolute;
    left: 1250px;
    top: 150px;         
    }
.but2 {
    border: 2px purple dotted;
    width: 30px;
    height: 250px;
    padding-top: 250px;
    padding-left: 10px;
    position: absolute;
    left: 1330px;
    top: 200px;         
    }
.but3 {
    border: 2px purple dotted;
    width: 30px;
    height: 250px;
    padding-top: 250px;
    padding-left: 10px;
    position: absolute;
    left: 1410px;
    top: 250px;         
    }
.but4 {
    border: 2px purple dotted;
    width: 30px;
    height: 250px;
    padding-top: 250px;
    padding-left: 10px;
    position: absolute;
    left: 1490px;
    top: 300px;         
    }
.things {
    border: 50px orange dashed;
    width: 400px;
    height: 500px;
    padding-top: 200px;
    padding-left: 200px;
    position: absolute;
    top: 900px;
    left: 1400px;
}
.two {
    position: absolute;
    top: 1500px;
}

